<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donate</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
    <div id="header">
        <div id="logo">
            <h3><span>Payment</span> Gateway</h3>
        </div>

        <nav>
            <a href="/">HOME</a>
            <a href="#">ABOUT</a>
            <a href="#">CONTACT US</a>
            
        </nav>
    </div>
</br>
</br>
    <h1 align="center">Welcome To Payment zone</h1>

    <div class="hero">
        <div class="form-box">

            <form align="center" action="/donate" method="POST" class="input-group">
                <input type="text" class="input-field" name="title" id="title"
                    placeholder="Enter Your Email-Id " /><br /><br />
                <input type="number" class="input-field" name="pay" id="pay" placeholder="enter amount"><br /><br />

                <button type="submit" class="submit-btn">Submit Details</button>
            </form>

        </div>
    </div>





</body>

</html>